= form_for @story do |f|
  - if @story.errors.any?
    = pluralize(@story.errors.count, "error")
    prohibited this story from being saved
    %ul
      = @story.errors.full_messages.each do |s|
        %li
          = s
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :link
    = f.text_field :link
  %p
    = f.submit
